# 리스트와 튜플

## 리스트
리스트의 각 항목의 데이터 타입은 같지 않아도 됨. (숫자, 문자열, 불, 리스트 등)

In [1]:
# range를 사용하여 리스트 만들기

a = list(range(-4, 10, 2)) # range(start, end, step)
print(a)

[-4, -2, 0, 2, 4, 6, 8]

## 리스트 다루기

In [2]:
# 더하기 및 곱하기

list_con1 = [1, 2, 3, 4]
list_con2 = [5, 6, 7, 8]
list_con3 = list_con1 + list_con2 # 리스트 연결
print(list_con3)

list_con4 = list_con1 * 3 # 리스트 반복 (덧셈 여러번)
print(list_con4)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [3]:
# 리스트 슬라이싱

a = list(range(0, 100, 10))
print(a)
a[1:9:2] # 인덱스 1부터 9-1까지 step = 2로 가져오기

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

[10, 30, 50, 70]

## (실습) 리스트 다루기
'James', 'Robert', 'Lisa', 'Mary' 를 데이터로 갖는 myFriends 리스트 생성
* myFriends 리스트에서 맨 끝에 'Laura'와 'Betty' 추가
* myFriends 리스트에서 2번째 자리에 'Judy' 삽입
* myFriends 리스트 순방향 정렬
* myFriends 리스트 역방향 정렬
* myFriends 리스트의 'Lisa' 항목의 개수와 처음 나오는 위치 찾기

In [4]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']

cf. 
> * **append()** : 하나의 요소만 추가 가능  
> * **extend()** : 여러 요소를 가진 리스트 추가 가능

In [5]:
# 1-1. append(), +

myFriends.append('Laura')
myFriends += ['Betty']
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary', 'Laura', 'Betty']

In [11]:
# 1-2. extend()

myFriends = ['James', 'Robert', 'Lisa', 'Mary']
myFriends.extend(['Laura', 'Betty'])
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary', 'Laura', 'Betty']

cf. **바로 출력**하고 싶을 때 (print 대신)
```py
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
myFriends.extend(['Laura', 'Betty']); myFriends 
```
> 이렇게 **' ; '** 뒤에 바로 변수명 (ex. 리스트명) 적어주면 된다!

In [7]:
# 2. insert()

myFriends.insert(2, 'Judy')
print(myFriends)

['James', 'Robert', 'Judy', 'Lisa', 'Mary', 'Laura', 'Betty']

In [8]:
# 3. sort()

myFriends.sort()
print(myFriends)

['Betty', 'James', 'Judy', 'Laura', 'Lisa', 'Mary', 'Robert']

In [9]:
# 4. reverse()

myFriends.reverse()
print(myFriends)

['Robert', 'Mary', 'Lisa', 'Laura', 'Judy', 'James', 'Betty']

In [10]:
# 5. count(), index()

print(myFriends.count('Lisa'))
print(myFriends.index('Lisa'))

1
2

<hr>

## 튜플
튜플의 속성은 리스트와 유사하지만, **튜플 데이터는 한번 입력(생성)하면 그 이후에는 항목 변경 불가!!**

In [14]:
# 튜플 만들기 (소괄호 사용하거나, 사용하지 않아도 됨)

tuple1 = (1, 2, 3, 4)
tuple2 = 1, 2, 3, 4

print(tuple1, tuple2)

(1, 2, 3, 4) (1, 2, 3, 4)

In [15]:
# 빈 튜플 생성

a = ()
a = tuple()
print(a)

()

In [16]:
# 인자가 하나만 있는 튜플 생성

tuple3 = (9,) # ***반드시 콤마(,) 필요!!***
tuple4 = 10,
print(tuple3, tuple4)

(9,) (10,)

In [17]:
# range를 사용하여 튜플 만들기

a = tuple(range(-4, 10, 2))
a

(-4, -2, 0, 2, 4, 6, 8)

## 튜플 다루기
한 번 생성한 후에 **요소를 변경할 필요가 없거나, 변경할 수 없도록 할 때** 이용  
(인덱스로 값 접근만 가능. **읽기 전용 자료형**)

In [18]:
# 튜플의 요소를 변경하고자 할 경우 ==> error!

tuple5 = (1, 2, 3, 4)
tuple[1] = 5

TypeError: 'type' object does not support item assignment

In [19]:
# 튜플에서 함수 사용 ==> 값 변경하는 함수는 사용 불가. 값 접근해 반환하는 함수만 가능

tuple6 = ('a', 'b', 'c', 'd', 'e', 'f')
print(tuple6.index('a'))
print(tuple6.count('a'))

0
1