# 세트 (set)

In [1]:
# 빈 세트 만들기 ==> a = {} 사용 불가!! : 빈 딕셔너리 생성
a = set()
type(a)

set

In [2]:
b = {}
type(b)

dict

## 세트 간 함수
* 교집합(intersection) : A.intersection(B)
* 합집합(union) : A.union(B)
* 차집합(difference) : A.difference(B)

In [3]:
A = {1,2,3,4,5}
B = {4,5,6,7,8,9,10}

In [4]:
A.intersection(B)

{4, 5}

In [5]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [6]:
A.difference(B) # A - B! (순서 중요)

{1, 2, 3}

## 세트의 연산자
집합 연산자 사용 (세트 연산자)
* 교집합 : &
* 합집합 : |
* 차집합 : -

In [7]:
A & B

{4, 5}

In [8]:
A | B

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [9]:
A - B

{1, 2, 3}

In [10]:
# cf. 이건 다른 결과임! (X)
print(A and B)
print(A or B)

{4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5}

## 각 세트를 다루는 함수
* add() : 세트에 항목 추가
* remove() : 세트에서 특정 항목 삭제, 없으면 에러 발생
* discard() : 세트에서 특정 항목 삭제, 없으면 그냥 넘어감
* pop() : 세트에서 임의의 항목 삭제 후 해당 항목 반환
* clear() : 세트에서 모든 항목 삭제

In [11]:
a = {1, 2, 3, 4, 5, 6}
a.add(7)
a

{1, 2, 3, 4, 5, 6, 7}

In [12]:
a.remove(3)
a

{1, 2, 4, 5, 6, 7}

In [13]:
a.remove(8)

KeyError: 8

In [14]:
a.discard(8)
a

{1, 2, 4, 5, 6, 7}

In [15]:
a.discard(2)
a

{1, 4, 5, 6, 7}

In [16]:
a.pop() # 임의의 항목 삭제 후 반환

1

In [17]:
a.clear()
a

set()

# 딕셔너리 (Dictionary)

In [18]:
# 빈 딕셔너리 만들기 (2가지 방법)
x = {}
x = dict()

## 다양한 형태의 딕셔너리

In [19]:
# 키와 값이 모두 문자열
country_capital = {'영국' : '런던', '프랑스' : '파리'}
country_capital['영국']

'런던'

In [21]:
# 키와 값이 모두 숫자
dict_data2 = {1:10, 2:20, 3:30, 4:40, 5:50}
print(dict_data2[4])

40

In [22]:
# 키는 문자열, 값은 리스트
dict_data3 = {'list1' : [11, 12, 13], 'list2' : [21, 22, 23]}
print(dict_data3['list2'])

[21, 22, 23]

In [24]:
# 다양한 형태의 키와 값을 갖는 딕셔너리
mixed_dict = {1 : 10, 'string' : 100, 'dict_num' : {1 : 10, 2 : 20}, 
              'dict_list_tuple' : {'A' : [11, 12, 13], 'B' : (21, 22, 23)}}
print(mixed_dict['dict_list_tuple'])
print(mixed_dict['dict_list_tuple']['A'][-1])
print(mixed_dict['dict_num'][2])

{'A': [11, 12, 13], 'B': (21, 22, 23)}
13
20

## 딕셔너리 다루기
* 데이터 추가
* 데이터 변경
* 데이터 삭제

In [25]:
# 데이터 추가
country_capital['독일'] = '베를린'
country_capital

{'영국': '런던', '프랑스': '파리', '독일': '베를린'}

In [26]:
# 데이터 변경
country_capital['독일'] = '서울'
country_capital

{'영국': '런던', '프랑스': '파리', '독일': '서울'}

In [27]:
# 데이터 삭제
del country_capital['독일']
country_capital

{'영국': '런던', '프랑스': '파리'}

## 딕셔너리 함수
* keys() : 키들을 리스트 형태로 반환
* values() : 값들을 리스트 형태로 반환
* items() : 키와 값의 쌍들을 (키, 값) 처럼 튜플 형태로 반환
* update(dict2) : **딕셔너리에 딕셔너리 데이터 추가**
* get() : 특정 키의 값 가져옴
* pop() : 특정 키-값 쌍을 삭제 후 값 반환 (== del dict[키]) 
* clear() : 모든 항목 삭제

In [28]:
fruit_code = {'사과' : 101, '배' : 102, '딸기' : 103, '포도' : 104, '바나나' : 105}
fruit_code.keys()

dict_keys(['사과', '배', '딸기', '포도', '바나나'])

In [29]:
fruit_code.values()

dict_values([101, 102, 103, 104, 105])

In [30]:
fruit_code.items()

dict_items([('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)])

In [31]:
# cf. 출력 결과에서 dict_values 같은 거 제거하고 싶을 때
list(fruit_code.values())

[101, 102, 103, 104, 105]

In [32]:
fruit_code.pop('사과') # == del fruit_code['사과'] (대신 이건 pop한 값을 return)

101

In [34]:
fruit_code.clear()
fruit_code

{}